<% @course_reviews.each do |review| %>
  <div>
    <%= review.course.title if review.course %><br>
    <%= review.name if review.name %><br>
    <%= review.created_at %>: <%= review.body %>
  </div><hr>
<%end%>
