<% if current_user && current_user.admin? %>
  <div class="small-12 columns">
    <%= render partial: "instructor_form", locals: {instructor: @instructor} %>
  </div>
  <% else %>
  You must be logged in as an administrator to edit an instructor.
<% end %>
