<% if current_user && current_user.admin? %>
  <div class="small-12 columns">
    <%= render partial: "venue_form", locals: {venue: @venue} %>
  </div>
<%else%>
  You must be logged in as an administrator to edit a venue
<%end%>
