<% if current_user && current_user.admin? %>
  <div class="small-12 columns">
    <%= render partial: "post_form", locals: {post: @post} %>
  </div>
  <%else%>
    You must be logged in as an administrator to create a new post!
<% end %>
