$lighter-yellow: #FFFFF9;
$mid-red: #770000;
$dark-red: #510000;
$light-red: #990808;
$lighter-red: #B92020;
$red: #ff0000;
$medium-yellow: #DEDED0;
$side-nav-background: $medium-yellow;
$month-background-color: $lighter-yellow;
$card-error-text-color: $red;

body {
  margin-top: 1em;
}

.course-title {
  font-size: 125%;
  font-weight: bold;
}

.course-info {
  font-size: 80%;
}

.instructor-info {
  font-size: 80%;
  padding-left: 15px;
}

.instructor-info span img {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.instructor-title {
  font-size: 125%;
  font-weight: bold;
  margin: 10px;
}

.instructor-title span {
  font-size: 70%;
  font-weight: normal;
  padding-top: 8px;
}

.venue-title {
  font-size: 125%;
  font-weight: bold;
  margin: 10px;
}

.venue-title span {
  font-size: 70%;
  font-weight: normal;
}

.center-table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.month-courses {
  background-color: $month-background-color;
}

.side-nav {
  padding-top: 0;
  background-color: $side-nav-background;
  text-align: center;
}

.side-nav-back {
  top: 0;
  left: 5%;
  bottom: 0;
  width: 15em;
  background: $side-nav-background; // the color you want the sidebar to be
  position: absolute;
}

.post-title {
  font-size: 125%;
  font-weight: bold;
}

.post-body {
  font-size: 90%;
  font-weight: normal;
  margin: 10px;
}

.course-buttons {
  text-align: right;
  width:100%;
}

.inline {
  display: inline-block;
}

table.center {
  background-color: $side-nav-background;
  text-align: center;
}

.card-errors {
  color: $card-error-text-color;
}

.center {
  text-align: center;
}

.left-pad {
  padding-right: 0;
}

.right-pad {
  padding-left: 0;
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.form-checkbox {
  float:right;
  margin-top: 5px !important;
  margin-bottom: 0px !important;
}
